apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-demo-website
spec:
  replicas: 1
  selector:
    matchLabels:
      app: devops-demo
  template:
    metadata:
      labels:
        app: devops-demo
    spec:
      tolerations:
      - key: "node-role.kubernetes.io/control-plane"
        operator: "Exists"
        effect: "NoSchedule"
      containers:
      - name: devops-demo-container
        image: amanuxsource/devops-demo:latest
        ports:
        - containerPort: 80

